body {
  background-color: #eeeeee;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h3 {
  text-align: center;
}

.buttons {
  display: flex;
  text-align: center;
  justify-content: center;
}

.button-draw, .button-reset {
  margin: 1em;
  padding: 1em;
  background-color: white;
  box-shadow: 1px 1px 10px rgba(50,50,50,.4);
  transition: .1s all ease;

  &:after,
  &:before {
    color: darken(white, 20%);
    transition: .3s all ease;
  }

  &:before {
    left: 1.4rem;
    top: .9rem;
  }

  &:after {
    left: .8rem;
    top: 1rem;
  }

  &:hover {
    box-shadow: 1px 1px 20px rgba(150,150,150,.2);
    top: -.1rem;
    right: -.1rem;
    cursor: pointer;


    &:before {
      left: .8rem;
      top: .7rem;
      transform: translateY(-1px);
    }

    &:after {
      left: 1.1rem;
      top: 1rem;
    }
  }

  &.inactive {
    box-shadow: none;
    background-color: rgb(227, 226, 226);
    color:grey;
    &:hover {
      cursor: default;
    }
  }
}

.cards {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  text-align: center;
}

.card-placeholder {
  margin: 2%;
  height: 250px;
  width: 147px;
  border: 1px solid white;
  box-shadow: 0 20px 50px #ddd;
}
