.card {
  margin: 2%;
  text-transform:capitalize;
  height: 250px;
  width: 147px;

  img {
    height: 250px;
    width: 147px;
    box-shadow: 0 20px 50px #ddd;
  }
}

.card-reversed {
  transform: rotate(180deg);
}

.card-description {
  margin-left: 12%;
}

.card-flipped {
  margin: 2%;

  img {
    height: 250px;
    width: 147px;
    box-shadow: 0 20px 50px #ddd;
    cursor: pointer;
  }
}
