h3 {
  text-align: center;
}

.Table-container, .Table-buttons {
  display: flex;
  text-align: center;
  justify-content: center;
}

.Table-draw, .Table-reset {
  margin: 1em;
  padding: 1em;
  background-color: white;
  box-shadow: 1px 1px 10px rgba(50,50,50,.4);
  transition: .1s all ease;

  &:after,
  &:before {
    color: darken(white, 20%);
    transition: .3s all ease;
  }

  &:before {
    left: 1.4rem;
    top: .9rem;
  }

  &:after {
    left: .8rem;
    top: 1rem;
  }

  &:hover {
    box-shadow: 1px 1px 20px rgba(150,150,150,.2);
    top: -.1rem;
    right: -.1rem;
    cursor: pointer;


    &:before {
      left: .8rem;
      top: .7rem;
      transform: translateY(-1px);
    }

    &:after {
      left: 1.1rem;
      top: 1rem;
    }
  }
}

// .Table-draw, .Table-reset {
//   background-color: #fafafa;
//   flex: 0 0 100px;
//   cursor: pointer;
//   box-shadow: 0px 10px 1px #ddd, 0 10px 20px #ccc;
//   margin: 1em;
//   padding: 1em;
// }

.Table-card {
  background-color: white;
  flex: 0 0 199px;
  min-height: 540px;
  box-shadow: 0 20px 50px #ddd;
  margin: 1%;
  padding: 1%;
  text-transform:capitalize;
}

.Table-card-reversed {
  transform: scale(-1, -1);
}

.Table-card-description {
  margin-left: 12%;
}

.Table-cards {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}
