.Table-container {
  display: flex;
  justify-content: center;
}

.Table-draw {
  width: 10vw;
  border: 1px solid green;
  padding: 1%;
}

.Table-cards, .Table-buttons {
  display: flex;
  flex-direction: column;
}
